@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "src/variabels/colors";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Roboto',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #fff;
  color: $black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.wrapper {
  max-width: 1260px;
  width: 100%;
  margin: 0 auto;
  padding: 0 10px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 36px;
  font-weight: 700;
}

h3 {
  font-size: 24px;
  font-weight: 500;
}

h5 {
  font-size: 18px;
  font-weight: 700;
  margin: 0;
}

p {
  font-size: 16px;
  line-height: 24px;
  text-align: justify;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  li {
    list-style-type: none;
    margin: 0;
  }
}

input {
  border: none;
  background: #fff;
  outline: none;
}

button {
  background: none;
  border: none;
  cursor: pointer;
}